name: Link Check

on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch:

jobs:
  lychee:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Lychee (link checker)
        uses: lycheeverse/lychee-action@v1.10.0
        with:
          args: >
            --verbose
            --no-progress
            --accept 200,206,429
            --timeout 20
            --max-redirects 10
            --exclude-mail
            --exclude "https://rbpersonaltrainer.com/.*" 
            .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
